* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
  font-family: "poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

h1 {
  margin: 30px;
}

.box {
  background: steelblue;
  color: #ffff;
  font-size: calc(24 / 16 * 1rem);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.5s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}
